* {
    box-sizing: border-box;
}

body, .main {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.app--light {
    --color: #424642;
    --background: #F3F4ED;
    --tabname: #F3F4ED;
    --tabline: #424642;
    --tabback: #5c6c6d;
    --paper: #fff;
    --bar: #536162;
    --accent: #C06014;
}

.app--dark {
    --color: #F3F4ED;
    --background: #333333;
    --tabname: #F3F4ED;
    --tabline: #424642;
    --tabback: #5c6c6d;
    --paper: #3c4747;
    --bar: #536162;
    --accent: #C06014;
}

.app {
    width: 100%;
    min-height: 100%;
    color: var(--color);
    background: var(--background);
    transition: background 0.3s;
}

.loading {
    align-self: center;
    width: 3rem;
    height: 3rem;
    background: var(--accent);
}

.button-group {
    position: fixed;
    top: 1.4rem;
    right: calc(10% - 0.5rem);
    z-index: 1;
}

.button {
    position: relative;
    display: block;
    font-size: 3em;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: var(--tabname);
    cursor: pointer;
    background: var(--accent);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.button--download {
    margin-top: 1rem;
    background: var(--bar);
}

.button--download:before {
    content: "";
    width: 0rem;
    height: 0.3rem;
    border: 0.3rem solid var(--tabname);
    display: block;
    background: var(--tabname);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button--download:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: 0.8rem solid transparent;
    border-top-color: var(--tabname);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.button--inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.bar {
    position: fixed;
    width: 100%;
    height: 3rem;
    top: 0;
    background: var(--bar);
}

.bar__header {
    position: absolute;
    display: inline-block;
    top: 0.9rem;
    width: auto;
    margin: 0 0.5rem;
    font-size: 2rem;
    color: var(--accent);
    line-height: 1.5rem;
    vertical-align: middle;
    text-decoration: none;
    font-family: Consolas, monospace;
    font-weight: bold;
}

.bar__header--i {
    color: var(--tabname);
}

.text {
    margin: 4.5rem auto 0;
    width: 90%;
    min-height: calc(100vh - 7.5rem);
}

.text__area {
    display: block;
    width: 100%;
    min-height: calc(100vh - 7.5rem);
    padding: 3.6rem;
    overflow: auto;
    font-family: Consolas, monospace;
    resize:  none;
    font-size: 1.2rem;
    border: none;
    color: var(--color);
    background: var(--paper);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: background 0.3s 0.1s;
}

.text__area::selection {
    color: var(--background);
    background: var(--accent);
}

.text__area:focus,
.text__area:target {
    outline: none;
}

.footer {
    margin: 0;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--tabback);
}

.tabwrapper {
    position: relative;
    display: block;
    list-style: none;
    width: 90%;
    height: 3rem;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.tabwrapper:after {
    content: "";
    height: 100%;
    width: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, transparent 0, var(--bar) 100%);
    pointer-events: none
}

.tabs {
    width: 100%;
    height: 4.2rem;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.tab {
    display: inline-flex;
    align-items: center;
    border-right: 1px solid var(--tabline);
    opacity: 0.6;
    vertical-align: top;
}
.tab:last-child {
    border-right: none;
}

.tab--active {
    opacity: 1;
    background: var(--tabback);
}

.tab__name,
.tab__close {
    display: inline-block;
    border: none;
    text-align: center;
    height: 3rem;
    background: transparent;
    color: var(--tabname);
}

.bar__header:focus,
.button:focus,
.tab__name:focus,
.tab__close:focus {
    outline: none;
}

.tab__name {
    float: left;
    min-width: 6rem;
}

.tab__close,
.tab:last-child.tab:first-child .tab__close {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    padding: 0;
    border-radius: 50%;
    background: var(--tabline);
    width: 0;
    overflow: hidden;
    transition: width 0.2s;
}

.tab--active .tab__close {
    width: 1.5rem;
}

@media screen and (min-width: 1201px) {
    .text,
    .tabwrapper {
        width: 800px;
    }
}

@media screen and (max-width: 1200px) {
    .text,
    .tabwrapper {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .button-group {
        top: auto;
        bottom: 3rem;
        right: calc(10% - 1.5rem);
    }
    .text,
    .tabwrapper {
        width: 80%;
    }
    .bar__header {
        position: relative;
        float: left;
    }

    .tabwrapper {
        margin-left: 0;
        width: calc(100% - 7rem);
    }

    .text__area {
        padding: 2.4rem;
    }
}

@media screen and (max-width: 480px) {
    .text {
        width: 90%;
    }

    .text__area {
        padding: 1.2rem;
    }

    .button-group {
        right: calc(5% + 1rem);
    }
}